<h3>Clubs#show</h3>
<h4>My Team</h4>

<div class="budget-card">
  <p class="budget"> Your current budget: <%= @club.budget %> <br> <%= @club.players.sum(:salary) %></p>
  <p> <%=(@club.budget) - (@club.players.sum(:salary))%></p>
  <%= link_to "Edit Profile", edit_club_path(@club), class: "button"  %>
</div>

<div class="container">
  <div>
   <% @club.players.each do |player| %>
    <div class="card-player-info">
      <h2> <%=  player.name %> </h2>
      <p>  <%= player.position %> <%= player.salary %>€/month </p>
        <% player.statistics.each do |statistic| %>
        <p> <%= statistic.game_qty %> </p>
      <% end %>
      </div>
      <%= link_to "", player_path(player), class: 'card-link-to-player' %>
    </div>
    <% end %>
    </div>
  </div>
</div>
