<h1>Clubs#show</h1>
<h1>My Team</h1>

<div class="container">
  <div>
    <p> <%= @club.budget %> <%= @club.players.sum(:salary) %></p>
    <p> <%=(@club.budget) - (@club.players.sum(:salary))%></p>
    <%= link_to "Edit Profile", edit_club_path(@club), class: "button"  %>
  </div>

</div>

<div class="container">
  <div>
   <% @club.players.each do |player| %>
    <div class="card-player-info">
      <h2> <%=  player.name %> </h2>
      <p>  <%= player.position %> <%= player.salary %>€/month </p>
    </div>
    <% end %>
    </div>
  </div>
</div>
