<div class="container">
  <div>

  </div>

  <div class="player-card" id="club-page">
    <div class="avatar-team">
      <% if @club.user.photo.attached? %>
        <%= cl_image_tag @club.user.photo.key , height: 100, width: 100, crop: :fill, class: "avatar-team" %>
      <% else %>
        <%= image_tag "https://res.cloudinary.com/dgwgea5k3/image/upload/v1591359130/Unbenanndsfst-1_rukblo.jpg", class: "avatar-team" %>
      <% end %>
     <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_user_registration_path %>
    </div>
    <div class="club-card-info">
      <h4><%= @club.user.email %></h4>
      <h5><%= @club.name %>,
        <% @club.club_tournaments.each do |club_tournament| %>
          <%= club_tournament.tournament.league if club_tournament.tournament.season_year == "2019/2020" && club_tournament.tournament.tournament_type == "championship" %>
        <% end %>
      </h5>
    </div>
    <div class="club-card-budget">
      <div class="budget-item">
        <p>Current budget</p>
        <p><%= number_to_currency(@club.budget, delimiter: '.', locale: "fr",unit: "€ ") %> </p>
      </div>
      <div class="budget-item">
        <p>Sum salaries</p>
        <p><%= number_to_currency(@club.players.sum(:salary), delimiter: '.', locale: "fr",unit: "€ ") %></p>
      </div>
      <div class="budget-item">
        <p>Remaining budget</p>
        <% remain_budget = @club.budget - @club.players.sum(:salary) %>
        <p><strong><%= number_to_currency(remain_budget, delimiter: '.', locale: "fr",unit: "€ ") %></strong></p>
      </div>
      <div class="spacer"></div>
      <div class="cta">
        <%= link_to '<i class="far fa-edit"></i> Budget'.html_safe, edit_club_path(@club), class: "button"  %>
      </div>
      <div class="spacer"></div>
    </div>
  </div>

  <div class="team-overview">
    <h1>My Team</h1>
    <div class="player-overview">
      <table id="dttb" class="display team-details">
        <thead>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Salary</th>
            <th>Games Played</th>
            <th>Goals Scored</th>
            <th>Starting Eleven Avg</th>
          </tr>
        </thead>
        <tbody>
          <% @current_players.each do |player| %>
            <tr>
              <td class="td"> <%= link_to "", player_path(player[:player_id]), class: 'card-link-to-player' %><%=  player[:name] %> </td>
              <td> <%= player[:position] %></td>
              <td> <%= player[:salary] %> €</td>
              <td> <%= player[:current_game_qty] %></td>
              <td> <%= player[:current_goals] %></td>
              <td> <%= player[:current_starting_elv_avg] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
