<div class="conversations-container">
    <% @conversations.each do |conversation| %>
     <div class="conversation-card" data-conversation-id="<%= conversation.id %>">

      <% if conversation.sender_id == current_user.id %>
        <% user_conversation_with = User.find(conversation.receiver_id) %>
      <% else %>
        <% user_conversation_with = User.find(conversation.sender_id) %>
      <% end %>
      <div class="content-conversation-card">
        <% if user_conversation_with.player.nil? %>
          <% if user_conversation_with.photo.attached? %>
            <%= cl_image_tag user_conversation_with.photo.key , height: 25, width: 25, crop: :fill, class: "avatar-team-small" %>
          <% else %>
            <%= image_tag "https://res.cloudinary.com/dgwgea5k3/image/upload/v1591359130/Unbenanndsfst-1_rukblo.jpg", class: "avatar-team-small" %>
          <% end %>
        <% else %>
            <%= cl_image_tag user_conversation_with.player.image, class: "avatar-team-small" %>
        <% end %>
        <i class="fas fa-circle"></i>
        <%= link_to user_conversation_with.player.nil? ? user_conversation_with.name : user_conversation_with.player.name , conversation_path(user_conversation_with) %>
      </div>
     </div>
   <% end %>
</div>
