<div class="container">
  <div class="conversation-box">
    <%= render 'conversations/conversations_container' %>
    <div id="messages" data-conversation-id="<%= @conversation.id %>" style="width: 80%">
      <% @messages.each do |message| %>
        <div class="message-container" id="message-<%= message.id %>">
          <i class="author">
            <span><%= message.user.player.nil? ? message.user.email : message.user.player.name %></span>
            <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") if message.created_at? %></small>
          </i>
          <p><%= message.content %></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="messages-form-container" style="display: flex; justify-content: center;">
    <div>
      <%#= simple_form_for [ @conversation, @message_new ], remote: true do |f| %>
      <%= simple_form_for [ @conversation, @message_new ], url: conversation_messages_path(@conversation), remote: true do |f| %>
      <%#= f.input :content, label: false, class: "message-input"; placeholder: "Message ##{@user_conversation_with.player.nil? ? @user_conversation_with.email : @user_conversation_with.player.name}" %>
      <div class="message-send">
        <div class="form-group text optional message_content">
          <textarea class="form-control text optional" placeholder='Write a message...' name="message[content]" id="message_content"></textarea>
        </div>
        <input type="submit" name="commit" value="Send Message" class="button" data-disable-with="Create Message">
      </div>
      <% end %>
    </div>
  </div>
</div>
