<div class="container">
  <div class="conversation-box">
    <%= render 'conversations/conversations_container' %>
    <div id="messages-container" data-conversation-id="<%= @conversation.id %>" style="width: 80%">
      <div class="message-header">
        <% if @user_conversation_with.player.nil? %>
          <% if @user_conversation_with.photo.attached? %>
            <%= cl_image_tag @user_conversation_with.photo.key , height: 25, width: 25, crop: :fill, class: "avatar-team-small-header" %>
          <% else %>
            <%= image_tag "https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1525092814/cq5zoucfrobsomypnwzy.jpg", class: "avatar-team-small-header" %>
          <% end %>
        <% else %>
            <%= cl_image_tag @user_conversation_with.player.image, class: "avatar-team-small-header" %>
        <% end %>
        <i class="fas fa-circle"></i>
        <div class="message-header-info">
          <div class="name-chat">
            <% if @user_conversation_with.player.nil? %>
                <%= @user_conversation_with.name %>
            <% else %>
                <%= @user_conversation_with.player.name %>
            <% end %>
          </div>
          <div class="star-chat">
            <% if @player_is_fav %>
              <%= link_to '<i class="fa fa-star" aria-hidden="true"></i>'.html_safe, player_wish_lists_path(@user_conversation_with.player, messages_id: @user_conversation_with.id, from_messages_show: true), method: :post, style: "color: #499AFF" %>
            <% else %>
              <%= link_to '<i class="fa fa-star" aria-hidden="true"></i>'.html_safe, player_wish_lists_path(@user_conversation_with.player, messages_id: @user_conversation_with.id, from_messages_show: true), method: :post, style: "color: rgba(0, 0, 0, 0.2)" %>
            <% end %>
          </div>
        </div>
      </div>
      <div id="messages-wrapper" class="messages-wrapper">
        <% @messages.each do |message| %>
          <div class="message-container">
            <i class="author">
              <span><%= message.user.player.nil? ? message.user.name : message.user.player.name %></span>
              <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") if message.created_at? %></small>
            </i>
            <p><%= message.content %></p>
          </div>
        <% end %>
      </div>

      <div class="messages-form-container" style="display: flex; justify-content: center;">
        <div>
          <%= simple_form_for [ @conversation, @message_new ], url: conversation_messages_path(@conversation), remote: true do |f| %>
          <div class="message-send">
            <div class="form-group text optional message_content">
              <textarea class="form-control text optional" placeholder='Write a message...' name="message[content]" id="message_content"></textarea>
            </div>
            <input type="submit" name="commit" value="Send Message" class="button" data-disable-with="Create Message">
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

