<div class="chatpage-container" style="display: flex">
  <%#= render 'chatrooms/chatrooms_container' %>

  <div id="messages" data-conversation-id="<%= params[:id] %>" style="width: 80%">
    <h4>Say hello to: <%= @message_receiver.email %></h4>
    <% @messages.each do |message| %>
      <div class="message-container" id="message-<%= message.id %>">
        <i class="author">
          <span><%= message.user.email %></span>
          <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
        </i>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
  </div>


  <div class="messages-form-container" style="display: flex; justify-content: center;">
    <div>
     <%= simple_form_for [ @conversation, @message_new ], remote: true do |f| %>
       <%= f.input :content, label: false, placeholder: "Message ##{@message_receiver.email}" %>
       <%= f.submit class: "btn btn-primary" %>
     <% end %>
  </div>

</div>
