<table>
  <tr>
    <th> </th>
    <th><%= image_tag('game_qty.svg') %></th>
    <th><%= image_tag('goals.svg') %></th>
    <th><%= image_tag('starting_eleven.svg') %></th>
  </tr>
    <% out = {} %>
    <% player.statistics.each do |statistic| %>
      <% league = statistic.tournament.league %>
      <% if out.key?(league) %>
        <% game_qty = out[league][:game_qty] + statistic.game_qty %>
        <% goal_qty = out[league][:goal_qty] + statistic.goal_qty %>
        <% starting_eleven_avg_sum = out[league][:starting_eleven_avg_sum] + statistic.starting_eleven_avg %>
        <% starting_eleven_avg_count = out[league][:starting_eleven_avg_count] + 1 %>
        <% out[league] = { game_qty: game_qty,
                            goal_qty: goal_qty,
                            starting_eleven_avg_sum: starting_eleven_avg_sum,
                            starting_eleven_avg_count: starting_eleven_avg_count } %>
      <% else %>
        <% out[league] = { game_qty: statistic.game_qty,
                            goal_qty: statistic.goal_qty,
                            starting_eleven_avg_sum: statistic.starting_eleven_avg,
                            starting_eleven_avg_count: 1 } %>
      <% end %>
    <% end %>
  <% out.each do |leage_key, league_values| %>
  <tr>
    <td class="left"><%= leage_key %></td>
    <td><%= league_values[:game_qty] %></td>
    <td><%= league_values[:goal_qty] %></td>
    <td><%= league_values[:starting_eleven_avg_sum] / league_values[:starting_eleven_avg_count] %> %</td>
  </tr>
  <% end %>
</table>
