<div class="container">
  <div class="row">

    <div class="col-sm-3 offset-sm-1">
      <%= simple_form_for :player, method: :get do |f| %>
        <%= f.input :position, as: :check_boxes, collection: Player::POSITIONS, wrapper: :vertical_collection_inline %>
        <%= f.input :skill, as: :check_boxes, collection: Player::SKILLSET, wrapper: :vertical_collection_inline %>
        <%= f.input :age, as: :range %>
        <%= f.input :location, as: :range %>
        <%= f.input :starting_eleven, as: :range %>
        <%= f.input :league, as: :range %>
        <%= f.submit "apply", class: "button" %>
      <% end %>
    </div>

    <div class="col-sm-6 offset-sm-1">
      <div id="players">
        <% @players.each do |player| %>
          <h4><%= player.name %></h4>
          <p><%= player.position %></p>
        <% end %>
      </div>
    </div>

  </div>
</div>


