<div class="container">
  <div class="content">
    <div id="filter-search">
      <%= simple_form_for :player, method: :get do |f| %>
        <%#= f.input :position, as: :check_boxes, collection: Player::POSITIONS, wrapper: :vertical_collection_inline %>
        <div class="form-group">
          <h5>Position</h5>
          <input type="hidden" name="player[position][]" value="">
          <div class="filter-players">
            <% Player::POSITIONS.each do |position| %>
              <input class="hidden" type="checkbox" value="<%= position %>" name="player[position][]" id="player_position_<%= position %>">
              <label class="filter-player" for="player_position_<%= position %>">
                <%= position %>
              </label>
            <% end %>
          </div>
        </div>
        <%#= f.input :skill, as: :check_boxes, collection: Player::SKILLSET, wrapper: :vertical_collection_inline %>
        <div class="form-group">
          <h5>Skill</h5>
          <input type="hidden" name="player[skill][]" value="">
          <div class="filter-players">
            <% Player::SKILLSET.each do |skill| %>
            <input class="hidden" type="checkbox" value="<%= skill %>" name="player[skill][]" id="player_skill_<%= skill %>">
            <label class="filter-player" for="player_skill_<%= skill %>">
              <%= skill %>
            </label>
            <% end %>
          </div>
        </div>
        <%#= f.input :age, as: :range, input_html: { min: "17", max: "50" } %>
        <div class="form-group">
          <h5>Age</h5>
          <input class="form-control-range numeric range optional" style="background-color: #F05D5E" min="17" max="50" type="range" step="1" name="player[age]" id="player_age">
        </div>
        <%#= f.input :location, as: :range, input_html: { min: "0", max: "500" } %>
        <!-- <div class="form-group">
          <h5>Location</h5>
          <input class="form-control-range numeric range optional" min="0" max="500" type="range" step="1" name="player[location]" id="player_location">
        </div> -->
        <%#= f.input :starting_eleven_avg, as: :range, input_html: { min: "0", max: "100" } %>
        <!-- <div class="form-group">
          <h5>Starting eleven in %</h5>
          <input class="form-control-range numeric range optional" min="0" max="100" type="range" step="1" name="player[starting_eleven_avg]" id="player_starting_eleven_avg">
        </div> -->
        <%#= f.input :season_year, collection: Tournament::YEAR, prompt: :season_year %>
        <div class="form-group">
          <h5>Season year</h5>
          <select class="form-control" name="player[season_year]" id="player_season_year">
            <option value="">Please select</option>
            <option value="2019/2020">2019/2020</option>
            <option value="2018/2019">2018/2019</option>
          </select>
        </div>
        <%#= f.input :league, collection: Tournament::LEAGUE, prompt: :league %>
        <div class="form-group">
          <h5>League</h5>
          <select class="form-control" name="player[league]" id="player_league">
            <option value="">Please select</option>
            <option value="Hessenliga">Hessenliga</option>
            <option value="Verbandsliga">Verbandsliga</option>
          </select>
        </div>
        <%= f.submit 'Apply'.html_safe, class: "button-filter" %>
      <% end %>
    </div>

    <div class="players-overview">
      <h5><%= @search_mode ? "Results" : "Based on my profile" %></h5>
      <div id="players">
        <% @players.each do |player| %>
          <div class="player-card">
            <div class="player-card-info">
              <img src="<%= player.image %>" alt="avatar">
              <div class="player-card-description">
                <h4><%= player.name %>, (<%=player.age(player.birth)%>)</h4>
                <p><%= player.position %></p>
              </div>
            </div>
            <div class="player-card-current-stat">
              <div class="card-stats">
                <div class="card-stat">
                  <% player.statistics.each do |statistic|%>
                    <% if statistic.tournament.season_year == "2019/2020" && statistic.tournament.tournament_type == "championship" %>
                      <%= statistic.game_qty %>
                    <% end %>
                  <% end %>
                  <%= image_tag('game_qty.svg') %>
                </div>
                <div class="card-stat">
                  <% player.statistics.each do |statistic|%>
                    <% if statistic.tournament.season_year == "2019/2020" && statistic.tournament.tournament_type == "championship" %>
                      <%= statistic.goal_qty %>
                    <% end %>
                  <% end %>
                  <%= image_tag('goals.svg') %>
                </div>
                <div class="card-stat">
                  <% player.statistics.each do |statistic|%>
                    <% if statistic.tournament.season_year == "2019/2020" && statistic.tournament.tournament_type == "championship" %>
                      <%= statistic.starting_eleven_avg %>
                    <% end %>
                  <% end %>
                  % <%= image_tag('starting_eleven.svg') %>
                </div>
              </div>
            </div>
            <div class="player-card-total-stat">
              <div class="table-datas">
                <div class="table-data">
                  <table>
                    <tr>
                      <th> </th>
                      <th><%= image_tag('game_qty.svg') %></th>
                      <th><%= image_tag('goals.svg') %></th>
                      <th><%= image_tag('starting_eleven.svg') %></th>
                    </tr>
                    <tr>
                    <% player.statistics.each do |statistic| %>
                      <td class="left"><%= statistic.tournament.league %></td>
                      <td><%= statistic.game_qty %></td>
                      <td><%= statistic.goal_qty %></td>
                      <td><%= statistic.starting_eleven_avg %> %</td>
                    </tr>
                    <% end %>
                  </table>
                </div>
              </div>
            </div>
            <%= link_to "", player_path(player), class: "player-card-link" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



