<div class="container">
  <div class="row">

    <div class="col-sm-3 offset-sm-1">
      <%= simple_form_for :player, method: :get do |f| %>
        <%#= f.input :position, as: :check_boxes, collection: Player::POSITIONS, wrapper: :vertical_collection_inline %>
        <div class="form-group">
          <label class="control-label check_boxes optional">Position</label>
          <input type="hidden" name="player[position][]" value="">
          <div class="filter-players">
            <% Player::POSITIONS.each do |position| %>
              <input class="hidden" type="checkbox" value="<%= position %>" name="player[position][]" id="player_position_<%= position %>">
              <label class="filter-player" for="player_position_<%= position %>">
                <%= position %>
              </label>
            <% end %>
          </div>
        </div>

        <%#= f.input :skill, as: :check_boxes, collection: Player::SKILLSET, wrapper: :vertical_collection_inline %>
        <div class="form-group">
          <label class="control-label check_boxes optional">
            Skill
          </label>
          <input type="hidden" name="player[skill][]" value="">

          <div class="filter-players">
            <% Player::SKILLSET.each do |skill| %>

            <input class="hidden" type="checkbox" value="<%= skill %>" name="player[skill][]" id="player_skill_<%= skill %>">

            <label class="filter-player" for="player_skill_<%= skill %>">
              <%= skill %>
            </label>
            <% end %>
          </div>
        </div>

        <%= f.input :age, as: :range %>
        <%= f.input :location, as: :range %>
        <%= f.input :starting_eleven_avg, as: :range %>
        <%#= f.input :league, as: :range %>
        <%= f.submit "apply", class: "button" %>
      <% end %>
    </div>

    <div class="col-sm-6 offset-sm-1">
      <div id="players">
        <% @players.each do |player| %>
          <h4><%= player.name %></h4>
          <p><%= player.position %></p>
          <%= link_to "See more", player_path(player) %>
        <% end %>
      </div>
    </div>

  </div>
</div>


