<div class="container">
  <div class="player-profile">
    <div class="avatar-team">
      <%= image_tag @player.image, class: "avatar-team" %>
    </div>
    <div class="player-profile-info">
      <h2><%= @player.name %>, (<%= @player.age(@player.birth) %>)</h2>
      <h3><%= @player.position %></h3>
    </div>
    <div class="player-profile-details">
      <div class="player-profile-detail">
        <p><strong>Date of birth</strong></p>
        <p><%= @player.club.name %></p>
      </div>
      <div class="player-profile-detail">
        <p><strong>Citizenship</strong></p>
        <p><%= @player.citizenship %></p>
      </div>
      <div class="player-profile-detail">
        <p><strong>Height</strong></p>
        <p><%= @player.height %> cm</p>
      </div>
      <div class="player-profile-detail">
        <p><strong>Date of birth</strong></p>
        <p><%= @player.birth %></p>
      </div>
    </div>
      <div class="player-card-total-stat-player">
        <h5>Stats - Current Season</h5>
        <div class="table-datas-player">
          <div class="table-data-player">
            <table>
              <tr>
                <th> </th>
                <th><%= image_tag('game_qty') %></th>
                <th><%= image_tag('goals') %></th>
                <th><%= image_tag('starting_eleven') %></th>
              </tr>
              <tr>
              <% @player.statistics.each do |statistic| %>
                <td class="left"><%= statistic.tournament.league if statistic.tournament.season_year == "2019/2020" %></td>
                <td><%= statistic.game_qty if statistic.tournament.season_year == "2019/2020"%></td>
                <td><%= statistic.goal_qty if statistic.tournament.season_year == "2019/2020"%></td>
                <td><%= statistic.starting_eleven_avg if statistic.tournament.season_year == "2019/2020" %> </td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
      <div class="player-card-total-stat-player">
        <h5>Stats - Total</h5>
        <div class="table-datas-player">
          <div class="table-data-player">
            <table>
              <tr>
                <th> </th>
                <th><%= image_tag('game_qty') %></th>
                <th><%= image_tag('goals') %></th>
                <th><%= image_tag('starting_eleven') %></th>
              </tr>
              <tr>
              <% @player.statistics.each do |statistic| %>
                <td class="left"><%= statistic.tournament.league %></td>
                <td><%= statistic.game_qty %></td>
                <td><%= statistic.goal_qty %></td>
                <td><%= statistic.starting_eleven_avg %> %</td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
        <div style="text-align: center; margin-bottom: 30px;">
          <%= link_to "Contact #{@player.name}" , conversation_path(@player.user), class: "button" %>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
