<div class="container">
  <div class="player-profile">
    <div class="avatar-team">
      <%= image_tag @player.image, class: "avatar-team" %>
    </div>
    <div class="player-profile-info">
      <h2><%= @player.name %>, (<%= @player.age(@player.birth) %>)
        <% if @player_is_fav %>
          <%= link_to '<i class="fa fa-star" aria-hidden="true"></i>'.html_safe, player_wish_lists_path(@player), method: :post, style: "color: rgba(0, 0, 0, 0.8)" %>
        <% else %>
          <%= link_to '<i class="fa fa-star" aria-hidden="true"></i>'.html_safe, player_wish_lists_path(@player), method: :post, style: "color: rgba(0, 0, 0, 0.2)" %>
         <% end %>
         </h2>
      <h3><%= @player.position %></h3>

    </div>
    <div class="call-to-action">
      <%= link_to '<i class="fas fa-user-plus"></i> Connect'.html_safe, follow_user_path(@user), method: :post, remote: true, class: "button" %>
      <%= link_to '<i class="fas fa-paper-plane"></i> Message'.html_safe , conversation_path(@player.user), class: "button-light" %>
    </div>

    <div class="player-profile-details">
      <div class="player-profile-detail">
        <p><strong>Date of birth</strong></p>
        <p><%= @player.club.name %></p>
      </div>
      <div class="player-profile-detail">
        <p><strong>Citizenship</strong></p>
        <p><%= @player.citizenship %></p>
      </div>
      <div class="player-profile-detail">
        <p><strong>Height</strong></p>
        <p><%= @player.height %> cm</p>
      </div>
      <div class="player-profile-detail">
        <p><strong>Date of birth</strong></p>
        <p><%= @player.birth %></p>
      </div>
    </div>
    <div class="player-card-total-stat-player">
      <h5>Current Season</h5>
      <div class="table-datas-player">
        <div class="table-data-player">
          <table>
            <tr>
              <th> </th>
              <th><%= image_tag('game_qty.svg') %></th>
              <th><%= image_tag('goals.svg') %></th>
              <th><%= image_tag('starting_eleven.svg') %></th>
            </tr>
            <tr>
            <% @player.statistics.each do |statistic| %>
              <% if statistic.tournament.season_year == "2019/2020" %>
                <td class="left"><%= statistic.tournament.league%></td>
                <td><%= statistic.game_qty %></td>
                <td><%= statistic.goal_qty %></td>
                <td><%= statistic.starting_eleven_avg %> %</td>
              <% end %>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
    <div class="player-card-total-stat-player">
      <h5>Total</h5>
      <div class="table-datas-player">
        <div class="table-data-player">
          <table>
            <tr>
              <th> </th>
              <th><%= image_tag('game_qty.svg') %></th>
              <th><%= image_tag('goals.svg') %></th>
              <th><%= image_tag('starting_eleven.svg') %></th>
            </tr>
            <tr>
            <% @player.statistics.each do |statistic| %>
              <td class="left"><%= statistic.tournament.league %></td>
              <td><%= statistic.game_qty %></td>
              <td><%= statistic.goal_qty %></td>
              <td><%= statistic.starting_eleven_avg %> %</td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
