<div class="container">
  <div class="inputform">
    <%= simple_form_for @post do |f| %>
      <%#= f.input :content %>
      <div class="header-posts-search">
        <div class="write-bar">
          <div class="header-photo-news">
            <% if current_user.player.nil? %>
              <% if current_user.photo.attached? %>
                <%= image_tag photo.key %>
              <% else %>
                <%= image_tag "https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1525092814/cq5zoucfrobsomypnwzy.jpg", class: "avatar-team-small" %>
              <% end %>
            <% else %>
              <%= image_tag(current_user.player.image, class: 'img-post') %>
            <% end %>
          </div>
          <div class="form-group" placeholder="Write an article...">
            <input class="form-control" placeholder="Write a post..." name="post[content]" id="post_content">
            </input>
          </div>
          <div class="write-article">
            <i class="far fa-edit"></i>
          </div>
        </div>
      </div>
      <%= f.input :photo, as: :file %>
      <%= f.submit %>
    <% end %>
  </div>

  <% @current_user_posts.each do |post| %>
    <div class="posts">
      <div class="header-post">
        <div class="user">
          <% if current_user.player.nil? %>
            <% if post.user.photo.attached? %>
              <%= image_tag post.photo.key %>
            <% else %>
              <%= image_tag "https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1525092814/cq5zoucfrobsomypnwzy.jpg", class: "avatar-team-small" %>
            <% end %>
          <% else %>
            <%= image_tag(post.user.player.image, class: 'img-post') %>
          <% end %>
          <span style="font-weight: bold; margin-left: 0px; " ><%= post.user.name %></span>
          <small style="padding: 0px;"><%= post.created_at.strftime("%b %e at %l:%M%p") if post.created_at? %></small>
        </div>
        <div class='delete-btn'>
          <%= link_to '<i class="fas fa-ellipsis-h"></i>'.html_safe, post_path(post), method: :delete, data: { confirm: "Are you sure?"} %>
        </div>
      </div>
      <div class=post>
        <div class="post-photo">
          <% if post.photo.attached? %>
            <%= cl_image_tag post.photo.key, class:'post-picture' %>
          <% end %>
        </div>
        <div class="post-text">
          <%= post.content %>
        </div>
      </div>
    </div>
  <% end %>

  <% @followers_posts.each do |post| %>
    <div class="posts">
      <div class='header-post'>
        <div class='user'>
          <%= image_tag(post.user.player.image, class: 'img-post') %>
          <span style="font-weight: bold;"><%= post.user.name %></span>
        </div>
      </div>
      <div class="post" id="post-<%= post.id %>">
        <%= post.content %>
        <% if post.photo.attached? %>
          <%= cl_image_tag post.photo %>
        <% end %>
      </div>
      <div class="likes">
      <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
        <div class='like-btn'>
          <% pre_like = post.likes.find { |like| like.user_id == current_user.id } %>
            <% if pre_like %>
              <%= link_to '<i class="fas fa-thumbs-up"></i>'.html_safe, post_like_path(post, pre_like), method: :delete %>
            <% else %>
              <%= link_to '<i class="far fa-thumbs-up"></i>'.html_safe, post_likes_path(post), method: :post %>
            <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
